<center><h2>Dar de alta empleado</h2></center>
<form name="empleadofrm" 
ng-submit="ctl.guardar()">
  Nombre:<br>
  <input type="text" name="nombre" ng-model="ctl.empleado.nombre">
  <br>
  apellido:<br>
  <input type="text" name="apellido" ng-model="ctl.empleado.apellido">
  <br>
  edad:<br>
  <input type="text" name="edad" ng-model="ctl.empleado.edad">
  <br>
  telefono:<br>
  <input type="text" name="telefono" ng-model="ctl.empleado.telefono">
  <br>
  <br>
estadoCivil  <input type="text" name="telefono" ng-model="ctl.empleado.estadoCivil">
  <br>
 
 <br>
  ccp:<br>
  <input type="text" name="ccp" ng-model="ctl.empleado.ccp">
  <br>
 
 <br>
  sexo:<br>
  <input type="text" name="sexo" ng-model="ctl.empleado.sexo">
  <br>
 
 <br>
  nss:<br>
  <input type="text" name="nss" ng-model="ctl.empleado.nss">
  <br>
 
 <br>
  direccion:<br>
  <input type="text" name="direccion" ng-model="ctl.empleado.direccion">
  <br>
 
 <br>
  puesto:<br>
  <input type="text" name="puesto" ng-model="ctl.empleado.puesto">
  <br>
  <br>
  calificacion:<br>
  <input type="text" name="calificacion" ng-model="ctl.empleado.calificacion">
  <br>
 
 
  
  <br>
  <br>
  <input type="submit" value="Guardar" title="Guardar">

</form> 